

<div class="about-section" style="background-color:black;opacity: 70%;">
    <h1>Know More About US!!</h1>
    

    <p>Welcome to MYBUS - Your Ultimate Travel Companion

      At MYBUS, we're dedicated to revolutionizing the way you experience travel. Our mission is to provide seamless, convenient, and enjoyable journeys for everyone, whether you're a daily commuter or an occasional traveler. With a focus on modern technology and user-centric design, we aim to make your travel experiences efficient, comfortable, and memorable.
      
      Who We Are We're a passionate team of travel enthusiasts, tech experts, and customer-centric professionals who came together with a common goal - to redefine the travel experience. Our diverse backgrounds and experiences enable us to approach travel challenges from various angles, ensuring that our solutions cater to the unique needs of each traveler.
      
      What We Do
      
      At MYBUS, we offer a range of innovative services that cater to different aspects of your journey:
      
      Real-Time Tracking: We understand that time is precious. With our real-time tracking feature, you can know exactly when your bus will arrive, minimizing waiting times and allowing you to plan your day more efficiently.
      
      Smart Booking: Our user-friendly app and website make booking bus tickets a breeze. Whether you're looking for a one-time ride or a recurring route, MYBUS has you covered.
      
      Comfort and Safety: Your comfort and safety are our priorities. We partner with reputable bus operators who maintain high safety standards, ensuring you have a worry-free journey. Plus, our buses are equipped with modern amenities to make your ride as comfortable as possible.
      
      Personalized Experience: Our platform learns from your preferences and travel history to provide personalized recommendations and offers, making every journey with us unique to your needs.
      
      Community and Feedback: We believe in continuous improvement, and your feedback is invaluable to us. Join our vibrant community to share your thoughts, experiences, and suggestions as we work together to enhance the travel landscape.
      
      Our Vision
      
      Our vision is to create a world where travel is not just about reaching your destination, but about enjoying the journey itself. We aim to be the go-to platform for travelers, offering a seamless, convenient, and enjoyable travel experience that leaves you with lasting memories.
      
      Join Us on This Journey
      
      Whether you're a daily commuter, a frequent traveler, or someone who simply wants to explore new places, MYBUS is here to make your travel experience exceptional. Join us on this exciting journey as we transform the way you think about travel. Let's embark on a new era of convenient, comfortable, and connected journeys together.
      
      Thank you for choosing MYBUS as your ultimate travel companion.
      
      Sincerely,
      
      The MYBUS Team</p>
    <p></p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card" style="background-color: black;color: white;">
        <img src="https://tse3.mm.bing.net/th?id=OIP.VSIVV3b5Nblo7gM7N4x9zgHaHZ&pid=Api&P=0&h=180" alt="Jane" style="width:150px;margin-left: 180px;margin-top: 10px;"><br>
        <div class="container">
          <h2 style="text-align: center;">Minal ketakale</h2>
          <p class="title">CEO & Founder</p>
          <p>Java Developer</p>
          <p>minalmketkale@gmail.com</p>
          <p><button class="button" style="background-color:grey;">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="background-color: black;color: white;">
        <img src="https://tse3.mm.bing.net/th?id=OIP.VSIVV3b5Nblo7gM7N4x9zgHaHZ&pid=Api&P=0&h=180" alt="Jane" style="width:150px;margin-left: 180px;margin-top: 10px;"><br>
        <div class="container">
          <h2 style="text-align: center;">Aachal danole</h2>
          <p class="title">Team Lead</p>
          <p>Database Administrator</p>
          <p>aachaldanole@gmail.com</p>
          <p><button class="button" style="background-color:grey;">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card" style="background-color: black;color: white;">
        <img src="https://tse3.mm.bing.net/th?id=OIP.VSIVV3b5Nblo7gM7N4x9zgHaHZ&pid=Api&P=0&h=180" alt="Jane" style="width:150px;margin-left: 180px;margin-top: 10px;"><br>
        <div class="container">
          <h2 style="text-align: center;">snehal mathrure</h2>
          <p class="title">Manager</p>
          <p>Frontend Devloper</p>
          <p>snehalmathrure@gmail.com</p>
          <p><button class="button" style="background-color:grey;">Contact</button></p>
        </div>
      </div>
    </div>
  
   